{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block topnav %}
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
           <li><a href="{% url 'note.kanjiviews.kanjiLessons' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Training<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
                <a href="{% url 'note.trainingsViews.kanjiQuizze' '' %}"><span class="glyphicon glyphicon-star-empty"></span> Kanji</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <form id="searchField" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'note.views.addLevel' %}"><span class="glyphicon glyphicon-star-empty"></span> Levels</a>
                </li>
                <li>
                    <a href="{% url 'note.views.sensei' %}"><span class="glyphicon glyphicon-user"></span> Senseis</a>
                </li>
                <li>
                    <a href="{% url 'note.views.addBooks' %}"><span class="glyphicon glyphicon-book"></span> Books</a>
                </li>
              </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Class<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a  href="{% url 'note.views.home' %}"><span class="glyphicon glyphicon-comment"></span> Bunpou</a></li>
            <li class="active"><a href="#"><span class="glyphicon glyphicon-pencil"></span> Kanji</a></li>
          </ul>
        </li>

       </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
{% block leftnav %}
    <nav class="leftnav" role="main">
<ul id="sidenav01" class="accordion nav nav-department nav-tabs nav-stacked">
        <li>
            <a href="#li02" data-toggle='collapse' data-target='#subnav01', data-parent="#sidenav01" class="accordion-toggle collapsed"><span class='glyphicon glyphicon-chevron-up pull-right'></span>Classmates</a>
              <ul id="subnav01" class="nav nav-list collapse">
                <li><a href="#1"><span class="glyphicon glyphicon-home"></span> Schedule</a></li>
              </ul>
        </li>

        <li>
            <a href="#li03" data-toggle='collapse' data-target='#subnav02', data-parent='#sidenav01' class="accordion-toggle collapsed"><span class="glyphicon glyphicon-chevron-up pull-right"></span>Current Kanji</a>
              <ul id="subnav02" class="nav nav-list collapse">
                  {% for kanji in actualKanji %}
                      <li><a href="{{ kanji.get_absolute_url }}"><span class="kanjiCell">{{ kanji.symbol }}</span> {{ kanji.meaning }}</a></li>
                  {% endfor %}

              </ul>
        </li>

    </ul>

</nav>
{% endblock %}
