{% extends "baseEnglish.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block custom_inculde %}
{% endblock %}
{% block content %}
    <h3>練習:</h3>
    <div style="text-align: center;">
        <p>{{ content.translation }}</p>

        <p style="font-size: 50px;">{{ content.question }}</p>
    </div>
    <div>
        <form role="answer" id="answerField" style="width: 200px; margin:auto;" class="form-horizontal" method="POST"
              action="" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" value="Answer" name="action">

            <div class="form-group">
                <label></label>
                <input type="text" name="answer" class="form-control" placeholder="答え">
                <span class="help-block"></span>
            </div>
        </form>
    </div>
    {% if content.result %}
        <div style="text-align: center;">
            <h1 style="color:{% if content.result == '正解です' %}green{% else %}red{% endif %};">{{ content.result }}</h1>

            <p>先決問題: <span style="font-size: 25px;">{{ content.prev_question }}</span></p>

            <p>答え: <span style="font-size: 25px;">{{ content.prev_answer }}</span></p>
        </div>
    {% endif %}
    <div>
        <form role="reset" method="post" action="" name="reset" class="form-horizontal">
            {% csrf_token %}
            <input type="hidden" value="Reset" name="action">
            {% buttons %}
                <button type="submit" class="btn btn-default btn-lg center-block">
                    {% bootstrap_icon "remove" %} 練習を終了します
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}