{% extends "baseEnglish.html" %}
{% load bootstrap3 %}
{% block content %}
    <h3>英語単語の集合</h3>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>言葉番号範囲</th>
            <th>日付</th>
            <th>本</th>
        </tr>
        </thead>
        <tbody>
        {% for chapter in content.chapters %}
            <tr>
                <td><a href="{{ chapter.get_edit_url }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a href="{{ chapter.get_absolute_url }}">{{ chapter.contentName }}</a></td>
                <td>{{ chapter.date }}</td>
                <td>{{ chapter.book }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-default btn-lg center-block">
                    {% bootstrap_icon "ok" %} チャプターを追加
                </button>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}