{% extends "basebunpou.html" %}
{% load bootstrap3 %}
{% block content %}
    <h3>List of examples for topic <b>{{ content.topicName }}</b> chapter {{ content.lessonNumber }} </h3>
<table class="table">
        <thead>
          <tr>
            <th></th>
            <th>#</th>
            <th>Kanji</th>
            <th>Furigana</th>
            <th>Translation</th>

          </tr>
        </thead>
        <tbody>
          {%for example in content.examplesList %}
          <tr>
            <td><a href="{{ example.get_edit_url }}"><span class="glyphicon glyphicon-edit"></span></a></td>
            <td>{{ forloop.counter }}</td>
            <td>{{ example.kanji }}</td>
            <td>{{ example.furigana }}</td>
            <td>{{ example.translateRus }}</td>

          </tr>
        {% endfor %}
        </tbody>
      </table>
        <div>

       <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="button" id="converter" onclick="convert();" class="btn btn-lg pull-left">
            {% bootstrap_icon "header" %} Fill Up Hiragana
        </button>
        <button type="submit" class="btn btn-default btn-lg center-block">
            {% bootstrap_icon "ok" %} Submit Example
        </button>
        {% endbuttons %}

<script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    function convert(event) {
                var text = $('#id_kanji').val();
                $.ajax({
                    type: "POST",
                    async: false,
                    url: '/convert/',
                    data: {"kanji": text, "csrfmiddlewaretoken": getCookie('csrftoken')},
                    dataType:"json",
                    success: function(data) {
                        $('#id_furigana').val(data.message);
                    }
                });
                //return ret;
            }

</script>
    </form>
    </div>



{% endblock %}